<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    @if (showFiller) {
    <p>Te amo pra cacete</p>
    }
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Muito
    </button>
  </mat-drawer>

  <div class="conteudo">
    <mat-toolbar>
      <button mat-icon-button (click)="drawer.toggle()" class="example-icon"
        aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Amo minha mulher</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon class="cocore">favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
  </div>

</mat-drawer-container>